#head1{
    height: 110px;
    width: 100%;
    background-color: #7C0201;
    color: white;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
}
#head2{
    padding-left: 200px;
    margin-top: 20px;
}
#head3{
    font-style: bold;
    font-size: 50px;
   padding-left: 50px;

}

#head4{
    padding-left: 20px;
    font-size: 20px;
    margin-left: 300px;

}
#head5{
    padding-left: 20px;
    font-size: 20px;
    
}
#head6{
    padding-left: 20px;
    font-size: 20px;
}    
#head7{
    height: 500px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDE9DA;
    color: black;
    margin-top: 150px;
    margin-left: 200px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;

}
#head8{
    height: 500px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDE9DA;
    color: black;
    margin-top: 50px;
    margin-left: 200px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#head9{
    height: 500px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDE9DA;
    color: black;
    margin-top: 50px;
    margin-left: 200px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
}
footer{
    height: 230px;
    width: 100%;
    background-color: #8C1616;
    color: white;
    font-size: 18px;
    

}
#foot{
    margin-left: 1000px;
}
